01-Ebooks-Persuasivos-Ultra.json
{
  "name": "01-Ebooks-Persuasivos-Ultra",
  "nodes": [
    {
      "parameters": {},
      "id": "564e7a51-07b4-4d02-934a-7c8f391d5938",
      "name": "📅 Daily Report",
      "type": "n8n-nodes-base.cron",
      "position": [
        -352,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "base",
        "operation": "getSchema",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "c1d5fc1c-b5ed-49be-8c72-c08a21cc44aa",
      "name": "📊 Airtable Summary",
      "type": "n8n-nodes-base.airtable",
      "position": [
        -160,
        16
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "n77TnsT4pbYmzsdm",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "id": "a7dc54df-0f0e-41fd-9ea9-28a8a58ec970",
      "name": "🧮 Calc Master",
      "type": "n8n-nodes-base.code",
      "position": [
        48,
        16
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "fromEmail": "dihack86codev@gmail.com",
        "toEmail": "dihack86codev@gmail.com",
        "subject": "🚀 ULTRA GOD REPORT - DÍA {{$json.fecha}}",
        "html": "<h2>Resumen Maestro</h2><ul><li>Sistemas: {{$json.activos}}/{{$json.total_sistemas}}</li><li>Hoy: ${{json.ingreso_diario}}</li><li>Mes proyectado: ${{json.proyectado_mensual}}</li></ul>",
        "options": {}
      },
      "id": "a756cb02-e4e9-4e94-92aa-5bcec62fb429",
      "name": "📧 Email Report",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        256,
        16
      ],
      "typeVersion": 2.1,
      "webhookId": "c397210f-ba92-4f13-8169-1110b86a4335",
      "credentials": {
        "smtp": {
          "id": "ArovM7iEOBRDVf3E",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "🚀 DAILY: ${{json.ingreso_diario}} | Activos: {{$json.activos}}/{{$json.total_sistemas}} | Mes: ${{json.proyectado_mensual}}",
        "otherOptions": {}
      },
      "id": "4497bddf-0227-4053-b5f7-abf07eb517c3",
      "name": "💬 Slack Master",
      "type": "n8n-nodes-base.slack",
      "position": [
        448,
        16
      ],
      "typeVersion": 2.3,
      "webhookId": "e1fb720b-5471-4406-a40a-0366248de1e4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "setup-credentials",
        "authentication": "basicAuth",
        "options": {
          "rawBody": true
        }
      },
      "id": "187ac49a-b182-4030-889d-e13a927c8b2c",
      "name": "🛡️ Safe Setup Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -192,
        256
      ],
      "webhookId": "setup-safe-webhook",
      "notes": "Este webhook recibe datos ENCRIPTADOS"
    },
    {
      "parameters": {
        "value": "={{$json.encrypted_payload}}"
      },
      "id": "a3b6701e-db4c-4d39-b6a6-f58bde38feaa",
      "name": "🔐 Decrypt",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        16,
        256
      ],
      "notes": "Desencripta con tu clave local"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Setup_Log"
      },
      "id": "9f6b475a-c80b-4dbd-b47a-fcb8b0c9ff6e",
      "name": "📊 Airtable Log",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        208,
        256
      ]
    },
    {
      "parameters": {},
      "id": "4fbf8209-f153-40cd-9409-13871021fd2e",
      "name": "⏰ Cada 4 Horas",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -384,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "const platforms = [\n  {platform: 'Twitter', action: 'tweet', max_length: 280},\n  {platform: 'LinkedIn', action: 'post', max_length: 1300},\n  {platform: 'Threads', action: 'thread', max_length: 500}\n];\nreturn [{ json: platforms[Math.floor(Math.random()*3)] }];"
      },
      "id": "b3b9a28f-98c8-4621-838a-87ee93fecf55",
      "name": "🎲 Platform Selector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        576
      ],
      "notes": "Selecciona red social"
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {},
        "requestOptions": {}
      },
      "id": "3badbc7d-7eb1-4b3a-87e3-aa61930d7cad",
      "name": "🧠 GPT Social",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        16,
        576
      ],
      "notes": "Genera contenido social"
    },
    {
      "parameters": {
        "text": "={{$json.choices[0].message.content}}",
        "additionalFields": {}
      },
      "id": "af6e6b37-9aa0-4195-8e63-3b9856164779",
      "name": "📱 Social Post",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        224,
        576
      ],
      "notes": "Postea en Twitter/LinkedIn"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Social_Posts"
      },
      "id": "8f98671f-c62a-4e8d-84f1-1cc46750dffc",
      "name": "📊 Airtable Social",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        416,
        576
      ],
      "notes": "Registra posts"
    },
    {
      "parameters": {
        "interval": 43200
      },
      "id": "2b674fca-5d59-4049-98cb-c09d36854c72",
      "name": "⏰ Cada 12 Horas",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        -224,
        896
      ]
    },
    {
      "parameters": {
        "operation": "list",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Clientes_Dashboard",
        "additionalOptions": {}
      },
      "id": "c98fdd5f-b3ed-4a39-afe4-890b34e64b62",
      "name": "📋 Airtable Clients",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        -32,
        896
      ],
      "notes": "Obtiene clientes activos"
    },
    {
      "parameters": {
        "url": "https://api.glideapps.com/api/developer/build",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "d8d1d195-38e7-467e-a12e-a7652df2f2be",
      "name": "🚀 Glide Build",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        176,
        896
      ],
      "notes": "Construye dashboard en Glide"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Dashboards_Created"
      },
      "id": "054732e4-faba-4aae-b433-904f026a05f0",
      "name": "📊 Airtable Dashboard",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        384,
        896
      ],
      "notes": "Registra dashboard"
    },
    {
      "parameters": {
        "subject": "Tu Dashboard AI está listo - {{$json.client_name}}",
        "html": "Accede aquí: {{$json.glide_url}}<br/>Mensualidad: ${{json.price}}<br/>Pago: gumroad.com/pay/{{$client_id}}",
        "options": {}
      },
      "id": "407900b2-d21c-4215-bdf6-5a07e072f55e",
      "name": "📧 Email Client",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        576,
        896
      ],
      "notes": "Envía acceso al cliente"
    },
    {
      "parameters": {},
      "id": "075d23d3-78b6-4ebf-80b2-9e56afd2907b",
      "name": "💰 Gumroad Recurring",
      "type": "n8n-nodes-base.gumroad",
      "typeVersion": 1,
      "position": [
        784,
        896
      ],
      "credentials": {},
      "notes": "Crea suscripción mensual"
    },
    {
      "parameters": {
        "interval": 28800
      },
      "id": "5cef900e-010b-47f5-a641-efc4877fb645",
      "name": "⏰ Cada 8 Horas",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        -208,
        1168
      ]
    },
    {
      "parameters": {
        "jsCode": "const snippets = [\n  {name: 'React Hook Auth', lang: 'javascript', price: 15},\n  {name: 'Python Scraper', lang: 'python', price: 25},\n  {name: 'Node API Boilerplate', lang: 'nodejs', price: 35},\n  {name: 'SQL Query Optimizer', lang: 'sql', price: 20}\n];\nreturn [{ json: snippets[Math.floor(Math.random()*4)] }];"
      },
      "id": "7a610816-e12a-4bef-9baf-2e7e876c3445",
      "name": "💻 Snippet Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        1168
      ],
      "notes": "Selecciona snippet tipo"
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {},
        "requestOptions": {}
      },
      "id": "fc51dad5-7c5a-4de3-acdc-2d9e5b93ce93",
      "name": "🧠 GPT Code",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        192,
        1168
      ],
      "notes": "Genera código con AI"
    },
    {
      "parameters": {
        "url": "https://api.github.com/gists",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fba5a7c4-92fd-405c-b0a9-ef81c4b5db5d",
      "name": "🐙 GitHub Gist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        1168
      ],
      "notes": "Sube a GitHub Gist privado"
    },
    {
      "parameters": {},
      "id": "8ca0469c-1906-4954-9a6a-2b6965d9e370",
      "name": "💰 Gumroad Snippet",
      "type": "n8n-nodes-base.gumroad",
      "typeVersion": 1,
      "position": [
        592,
        1168
      ],
      "credentials": {},
      "notes": "Vende snippet"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Code_Snippets"
      },
      "id": "23c32423-5ac5-463e-b1a8-ce2f91d96fc6",
      "name": "📊 Airtable Snippet",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        800,
        1168
      ],
      "notes": "Registra snippet"
    },
    {
      "parameters": {},
      "id": "a1ef9d14-ce5d-4dd5-a5cc-6015e5f3f3cf",
      "name": "🚀 Reddit Snippet",
      "type": "n8n-nodes-base.forumPost",
      "typeVersion": 1,
      "position": [
        992,
        1168
      ],
      "notes": "Postea en r/webdev"
    },
    {
      "parameters": {
        "interval": 21600
      },
      "id": "3d0f43f2-b69d-40d9-9fea-4e3400c0ea18",
      "name": "⏰ Cada 6 Horas",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        -176,
        1456
      ]
    },
    {
      "parameters": {
        "jsCode": "const scripts = [\n  \"Welcome to our premium course. Today you'll learn...\",\n  \"This video is sponsored by...\",\n  \"In this module, we cover advanced strategies...\"\n];\nreturn [{ json: { script: scripts[Math.floor(Math.random()*3)], voice: 'en-US-neural2-A' } }];"
      },
      "id": "a9b5884a-88ed-40f0-9bd0-53fdbae28da0",
      "name": "📝 Script Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        1456
      ],
      "notes": "Genera scripts random"
    },
    {
      "parameters": {
        "url": "https://api.elevenlabs.io/v1/text-to-speech/{{$env.ELEVENLABS_VOICE_ID}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "645240db-3496-4b92-99ee-13ab81b3cf3d",
      "name": "🎙️ ElevenLabs TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        224,
        1456
      ],
      "notes": "Genera MP3 con AI"
    },
    {
      "parameters": {
        "operation": "upload",
        "binaryPropertyName": "voiceover",
        "additionalFields": {}
      },
      "id": "5ca65285-a6f5-4858-a716-05fe9df21b27",
      "name": "☁️ S3 Upload",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        432,
        1456
      ],
      "notes": "Sube a S3"
    },
    {
      "parameters": {},
      "id": "62f9d5cd-f6b1-4c67-9c4e-4e0336e8bfd0",
      "name": "💰 Gumroad Voice",
      "type": "n8n-nodes-base.gumroad",
      "typeVersion": 1,
      "position": [
        624,
        1456
      ],
      "credentials": {},
      "notes": "Vende en Gumroad"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "AI_Voiceovers"
      },
      "id": "b09be12e-8667-4f6f-8673-44031245ecba",
      "name": "📊 Airtable Voice",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        832,
        1456
      ],
      "notes": "Registra voiceover"
    },
    {
      "parameters": {},
      "id": "752dc37d-ed39-4c24-92e9-34f9f01a225d",
      "name": "🗓️ Weekly Planner",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -64,
        1776
      ]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "options": {},
        "requestOptions": {}
      },
      "id": "f3ace10e-175c-46df-816a-f8da35dd84db",
      "name": "🧠 GPT Outline",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        144,
        1776
      ],
      "notes": "Genera outline del planner"
    },
    {
      "parameters": {
        "url": "https://api.canva.com/v1/designs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "1ac89064-1a3c-4a93-a41c-d86eba2b3985",
      "name": "🎨 Canva Planner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        336,
        1776
      ],
      "notes": "Genera PDF en Canva"
    },
    {
      "parameters": {
        "url": "https://openapi.etsy.com/v3/application/listings",
        "authentication": "genericCredentialType",
        "genericAuthType": "oauth2",
        "options": {}
      },
      "id": "b07730fc-7c84-45ad-bd44-0f9b5deefcb1",
      "name": "🎨 Etsy Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        544,
        1776
      ],
      "notes": "Sube a Etsy"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Digital_Planners"
      },
      "id": "dc2b296f-3e06-4c98-bcef-60bf7076e21e",
      "name": "📊 Airtable Planner",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        736,
        1776
      ],
      "notes": "Registra planner"
    },
    {
      "parameters": {},
      "id": "ef948b8b-8271-4749-8463-aaf2aac1d719",
      "name": "📌 Pinterest Planner",
      "type": "n8n-nodes-base.pinterest",
      "typeVersion": 1,
      "position": [
        944,
        1776
      ],
      "credentials": {},
      "notes": "Promociona en Pinterest"
    },
    {
      "parameters": {},
      "id": "3e306531-9f1f-47be-b478-b3a0b04b2b7a",
      "name": "🌅 Daily API Gen",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        16,
        2080
      ]
    },
    {
      "parameters": {
        "jsCode": "const apis = [\n  {name: 'Email Validator', endpoint: '/validate-email', price: 29},\n  {name: 'AI Summarizer', endpoint: '/summarize', price: 49},\n  {name: 'Social Scraper', endpoint: '/scrape-social', price: 79},\n  {name: 'Lead Scorer', endpoint: '/score-lead', price: 39}\n];\nreturn [{ json: apis[Math.floor(Math.random()*4)] }];"
      },
      "id": "5767f83c-7f28-4906-a865-ea981135e31a",
      "name": "🎲 API Selector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        2080
      ],
      "notes": "Selecciona microservicio aleatorio"
    },
    {
      "parameters": {
        "url": "https://api.replit.com/v1/repls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "c032d129-f0d6-42d0-a50d-6bcc31c19d46",
      "name": "🚀 Replit Deploy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        416,
        2080
      ],
      "notes": "Despliega API en Replit"
    },
    {
      "parameters": {
        "url": "https://rapidapi.com/developer/new",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "a01eb365-ca78-40d4-a67b-521cac8ec40b",
      "name": "🌐 RapidAPI Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        624,
        2080
      ],
      "notes": "Publica en RapidAPI marketplace"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "API_Microservices"
      },
      "id": "d0a68e08-b127-476a-a6c7-7cd7bd7cff62",
      "name": "📊 Airtable API",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        816,
        2080
      ],
      "notes": "Monitoreo de APIs"
    },
    {
      "parameters": {},
      "id": "6b4cb685-d0e1-4c45-9d08-d6f99aeb1418",
      "name": "🚀 Reddit API",
      "type": "n8n-nodes-base.forumPost",
      "typeVersion": 1,
      "position": [
        1024,
        2080
      ],
      "notes": "Promociona en r/SaaS"
    },
    {
      "parameters": {
        "path": "85b2ac45-5113-44de-8004-c6bea21e0050",
        "options": {}
      },
      "id": "d1c687bc-1278-4fbb-a224-799dc17e7a78",
      "name": "🌐 Webhook Scrape",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        96,
        2368
      ],
      "webhookId": "85b2ac45-5113-44de-8004-c6bea21e0050",
      "notes": "Cliente solicita scrape"
    },
    {
      "parameters": {
        "url": "={{$json.target_url}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "ac0f75b1-44e0-47c3-992b-7c5402cafab4",
      "name": "🔍 ScraperAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        304,
        2368
      ],
      "notes": "Scrapea sitio del cliente"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Scraping_Jobs"
      },
      "id": "c941abd8-5569-46c5-a699-5a7c516e92c3",
      "name": "📊 Airtable Scrape",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        496,
        2368
      ],
      "notes": "Guarda job en Airtable"
    },
    {
      "parameters": {
        "subject": "Scraping Completo - {{$json.client_email}}",
        "html": "Datos extraídos: <br/><pre>{{$json.data}}</pre><br/>Invoice: ${{json.price}}",
        "options": {}
      },
      "id": "470b49fc-01d3-465d-ac9b-cf1cfb5cf729",
      "name": "📧 Email Results",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        704,
        2368
      ],
      "notes": "Envía datos al cliente"
    },
    {
      "parameters": {},
      "id": "8056c17e-0acd-455c-a823-c23919897983",
      "name": "💰 Gumroad API",
      "type": "n8n-nodes-base.gumroad",
      "typeVersion": 1,
      "position": [
        896,
        2368
      ],
      "credentials": {},
      "notes": "Crea producto API recurrente"
    },
    {
      "parameters": {
        "jsCode": "const industries = ['HealthTech', 'FinTech', 'EduTech', 'SaaS', 'E-commerce'];\nreturn industries.map(ind => ({ json: { industry: ind, budget: Math.floor(Math.random()*5000)+2000 } }));"
      },
      "id": "33dfd09c-e40f-43dd-a430-5f9622aa42b0",
      "name": "🏭 Industry Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        2592
      ],
      "notes": "Genera leads por industria"
    },
    {
      "parameters": {
        "model": "claude-3-sonnet-20240229",
        "options": {},
        "requestOptions": {}
      },
      "id": "70f5bb2b-3c6a-4a82-82f3-4ecef80b1a8e",
      "name": "🧠 Claude Landing",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        384,
        2592
      ],
      "notes": "Genera copy con Claude"
    },
    {
      "parameters": {
        "url": "https://api.carrd.co/v1/sites",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fbb8b43e-726a-4fcd-9e8d-ecc687b5079e",
      "name": "🚀 Carrd Deploy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        592,
        2592
      ],
      "notes": "Publica landing en Carrd"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "AI_Consulting_Leads"
      },
      "id": "96b2f37e-25f7-4a0d-840d-cf6ab8426751",
      "name": "📊 Airtable Consulting",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        784,
        2592
      ],
      "notes": "Registra funnel"
    },
    {
      "parameters": {},
      "id": "55404d89-8438-4fcd-a8e5-306272de0d5a",
      "name": "📌 Pinterest Funnel",
      "type": "n8n-nodes-base.pinterest",
      "typeVersion": 1,
      "position": [
        992,
        2592
      ],
      "credentials": {},
      "notes": "Promociona landing"
    },
    {
      "parameters": {
        "interval": 14400
      },
      "id": "b8d2536c-e14a-43c7-bddb-861fc4f3a5a4",
      "name": "⏰ Cada 4 Horas1",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        -16,
        2592
      ]
    },
    {
      "parameters": {
        "interval": 86400
      },
      "id": "8e298e26-e15f-4daa-9f73-13f4a2376823",
      "name": "📅 Daily Newsletter",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        16,
        2896
      ]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {},
        "requestOptions": {}
      },
      "id": "b74aa3f5-21a1-4d5e-a6e1-dec7344475fd",
      "name": "🧠 GPT Newsletter",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        224,
        2896
      ],
      "notes": "Genera contenido newsletter"
    },
    {
      "parameters": {
        "operation": "send"
      },
      "id": "b8ba76d2-e6f8-4263-a0b1-1683fcd7dc85",
      "name": "📨 Mailchimp Send",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [
        416,
        2896
      ],
      "notes": "Envía a lista premium"
    },
    {
      "parameters": {
        "url": "https://api.paved.com/v1/sponsors",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "67233d6c-a43e-465b-aa2f-7052a4180dc5",
      "name": "💰 Paved Sponsors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        624,
        2896
      ],
      "notes": "Busca sponsors pagados"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Newsletter_Sponsors"
      },
      "id": "0ba5f368-aee0-4852-a140-baa6bf0d90b0",
      "name": "📊 Airtable Sponsor",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        816,
        2896
      ],
      "notes": "Registra sponsor"
    },
    {
      "parameters": {},
      "id": "de80df09-682d-4bd3-a975-46883bf0019a",
      "name": "🎯 Daily Lead Gen",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        32,
        3200
      ]
    },
    {
      "parameters": {
        "url": "https://api.apollo.io/v1/mixed_companies/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "08c02713-3fc9-4b9c-8bb4-d23bb2a02daf",
      "name": "🚀 Apollo Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        240,
        3200
      ],
      "notes": "Busca leads de e-commerce"
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {},
        "requestOptions": {}
      },
      "id": "ecd69aba-dfa5-43ad-b6ed-63a9678f99c7",
      "name": "🧠 GPT-4 Proposal",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        432,
        3200
      ],
      "notes": "Genera propuesta personalizada"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Content_AI_Agencies"
      },
      "id": "98c47d66-f9a8-40af-92ec-f1eaad8660d4",
      "name": "📊 Airtable Client",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        640,
        3200
      ],
      "notes": "Registra lead en Airtable"
    },
    {
      "parameters": {
        "subject": "Propuesta: Agencia de Contenido AI para {{$json.name}}",
        "html": "={{$json.choices[0].message.content}}",
        "options": {}
      },
      "id": "cc32f2fc-e056-4c20-8dab-a2395f787543",
      "name": "📧 Email Proposal",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        832,
        3200
      ],
      "notes": "Envía propuesta por email"
    },
    {
      "parameters": {},
      "id": "ca6c6c7e-9426-4af1-b725-0080a7a5e35e",
      "name": "🌅 Daily Report",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        64,
        3568
      ],
      "notes": "Reporte diario de todos los sistemas"
    },
    {
      "parameters": {
        "jsCode": "const total = $json.reduce((acc, item) => acc + (item.ingreso || 0), 0);\nreturn [{ json: { total_sistemas_activos: 100, ingreso_diario: total, fecha: new Date().toISOString() } }];"
      },
      "id": "a6842060-1b91-4bc7-9ff7-85cc707ea375",
      "name": "🧮 Calc Total",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        3568
      ],
      "notes": "Calcula total diario"
    },
    {
      "parameters": {
        "subject": "🚀 ULTRA GOD DAILY REPORT - ${{$json.ingreso_diario}}",
        "html": "Sistemas activos: {{$json.total_sistemas_activos}}<br/>Ingreso hoy: ${{$json.ingreso_diario}}<br/>Fecha: {{$json.fecha}}",
        "options": {}
      },
      "id": "d4737b92-0b45-48fb-a6c9-e6fe28fe08d6",
      "name": "📧 Daily Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        672,
        3568
      ],
      "notes": "Envía reporte maestro"
    },
    {
      "parameters": {
        "channel": "ultra-god-reports",
        "text": "🚀 Daily: ${{$json.ingreso_diario}} | Sistemas: {{$json.total_sistemas_activos}}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "67ad2d92-9b66-498a-b28f-3dda49455806",
      "name": "💬 Slack Report",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        864,
        3568
      ],
      "notes": "Notifica en Slack"
    },
    {
      "parameters": {
        "operation": "list",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Ingresos_Totales",
        "additionalOptions": {}
      },
      "id": "7bb32cf3-bbb0-4fc6-bba8-b5facdf762e6",
      "name": "📊 Airtable Summary1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        272,
        3568
      ],
      "notes": "Resume ingresos de todas las tablas"
    },
    {
      "parameters": {},
      "id": "ce5f1c21-8d8b-4566-92b3-d2c49b336477",
      "name": "🌇 Daily 6 PM",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        64,
        3824
      ]
    },
    {
      "parameters": {
        "url": "https://api.coinbase.com/v2/exchange-rates",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "c2ada967-bde2-4ae9-a1c1-413432032d71",
      "name": "₿ Coinbase API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        272,
        3824
      ],
      "notes": "Obtiene precio BTC"
    },
    {
      "parameters": {
        "jsCode": "const allocation = $json.data.rates.USD > 50000 ? 0.1 : 0.05;\nreturn [{ json: { allocation, price: $json.data.rates.USD } }];"
      },
      "id": "d798cda7-b62f-4113-8f96-e4891c73332c",
      "name": "🤖 Allocation Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        3824
      ],
      "notes": "Determina % de inversión"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "AI_Fund_Trades"
      },
      "id": "26f26f35-4b51-4f06-a4ad-f5ea89f5b041",
      "name": "📊 Airtable Fund",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        672,
        3824
      ],
      "notes": "Registra trade AI"
    },
    {
      "parameters": {
        "subject": "AI Fund Update - BTC Allocation: {{$json.allocation}}%",
        "html": "Precio actual: ${{$json.price}}<br/>Inversión: {{$json.allocation}}% del portafolio",
        "options": {}
      },
      "id": "e337ac6a-b0c1-4f99-95e4-b6efac210fe7",
      "name": "📧 Email Update",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        864,
        3824
      ],
      "notes": "Envía update a inversores"
    },
    {
      "parameters": {
        "interval": 3600
      },
      "id": "9163b640-dd0c-4fc6-bdaf-e91c79882e03",
      "name": "⏰ Cada Hora",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        32,
        4128
      ]
    },
    {
      "parameters": {
        "url": "https://api.robinhood.com/quotes/{{$json.symbol}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "edaa9525-879f-4a83-9fa9-c8bcf236b34f",
      "name": "📈 Robinhood API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        240,
        4128
      ],
      "notes": "Busca precios de acciones"
    },
    {
      "parameters": {
        "jsCode": "const advice = $json.last_trade_price > $json.previous_close ? 'COMPRA' : 'VENTA';\nreturn [{ json: { advice, ...$json } }];"
      },
      "id": "8438e051-47fe-48c8-99b8-3f0a3fc68880",
      "name": "🤖 Trade Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        4128
      ],
      "notes": "Lógica de trading simple"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Trading_Signals"
      },
      "id": "5d2776e1-569b-4475-ac0a-50b24f5d986d",
      "name": "📊 Airtable Trading",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        640,
        4128
      ],
      "notes": "Guarda señales"
    },
    {
      "parameters": {
        "channel": "trading-signals",
        "text": "={{$json.symbol + ' → ' + $json.advice + ' @ $' + $json.last_trade_price}}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "a1625a4b-66c0-4b05-b125-16e6bb389328",
      "name": "💬 Slack Signal",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        832,
        4128
      ],
      "notes": "Envía señales a Slack"
    },
    {
      "parameters": {},
      "id": "010d8d98-f43c-4c65-aecc-90f4e9b7ec27",
      "name": "📅 Lunes 9 AM",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        48,
        4384
      ]
    },
    {
      "parameters": {
        "url": "https://bubble.io/api/v1/app",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "9b3057fe-c241-4fb0-bba2-3e8d31e94186",
      "name": "🫧 Bubble Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        256,
        4384
      ],
      "notes": "Crea app para cliente"
    },
    {
      "parameters": {
        "subject": "App lista: {{$env.CLIENT_NAME}}",
        "html": "Tu app está lista: {{$json.url}} - Factura: $5,000",
        "options": {}
      },
      "id": "1c6580f0-21b8-4e52-be3c-02892d013f49",
      "name": "📧 Email Invoice",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        656,
        4384
      ],
      "notes": "Envía factura por email"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Apps_Clientes"
      },
      "id": "6d1002b1-df2e-4a64-a6a6-8a58a251aff6",
      "name": "📊 Airtable Client1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        448,
        4384
      ],
      "notes": "Registra app cliente"
    },
    {
      "parameters": {
        "model": "={{$env.OPENAI_MODEL}}",
        "options": {},
        "requestOptions": {}
      },
      "id": "02951210-b081-40f9-b8a8-35788b0c176d",
      "name": "🤖 OpenAI Pitch",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        208,
        4672
      ],
      "notes": "Genera pitch de ventas"
    },
    {
      "parameters": {
        "url": "https://api.contently.com/v1/pitches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "392777a1-7864-44e9-8747-d1cbb4f11b1b",
      "name": "📄 Contently API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        4672
      ],
      "notes": "Envía pitch a Contently"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Pitches_Contently"
      },
      "id": "dc81b2e3-d627-4797-aced-836375c7caf9",
      "name": "📊 Airtable Pitch",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        608,
        4672
      ],
      "notes": "Guarda pitches"
    },
    {
      "parameters": {
        "subject": "Contenido AI para {{$json.client}}",
        "html": "={{$json.pitch}}",
        "options": {}
      },
      "id": "a60653a7-1624-4485-80a9-24910d6c3b12",
      "name": "📧 Email Pitch",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        800,
        4672
      ],
      "notes": "Envía pitch por email"
    },
    {
      "parameters": {
        "interval": 28800
      },
      "id": "cd0e3122-6547-4b32-aefd-6d7935c98a31",
      "name": "⏰ Cada 8 Horas1",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        0,
        4672
      ]
    },
    {
      "parameters": {},
      "id": "12cde1a9-5e41-41b5-94b1-c4c552464d69",
      "name": "🕐 Cada 12 Horas",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -48,
        5056
      ]
    },
    {
      "parameters": {
        "url": "https://api.semrush.com/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "1dada2fe-9eea-44fa-827f-99594c00e7ba",
      "name": "🔍 SEMrush API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        160,
        5056
      ],
      "notes": "Busca keywords SEO"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "SEO_Keywords"
      },
      "id": "7920e1db-2c77-41b3-805e-aada9569803d",
      "name": "📊 Airtable SEO",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        352,
        5056
      ],
      "notes": "Guarda keywords"
    },
    {
      "parameters": {},
      "id": "e0c49928-6922-47ea-ac4d-d06b602b958c",
      "name": "🚀 Reddit SEO",
      "type": "n8n-nodes-base.forumPost",
      "typeVersion": 1,
      "position": [
        560,
        5056
      ],
      "notes": "Ofrece servicio SEO"
    },
    {
      "parameters": {},
      "id": "a7e7c45a-909b-48e0-b2d9-d29809302955",
      "name": "📅 Lunes 10 AM",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -32,
        5312
      ]
    },
    {
      "parameters": {},
      "id": "f112c61f-f4d8-4c17-8388-1a49a1e2b60d",
      "name": "🎟️ Eventbrite Paid",
      "type": "n8n-nodes-base.eventbrite",
      "typeVersion": 1,
      "position": [
        176,
        5312
      ],
      "credentials": {},
      "notes": "Crea webinar pagado"
    },
    {
      "parameters": {
        "model": "={{$env.OPENAI_MODEL}}",
        "options": {},
        "requestOptions": {}
      },
      "id": "26db1876-dcae-4e02-afce-c190292e183c",
      "name": "📧 OpenAI Promo",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        368,
        5312
      ],
      "notes": "Genera email promo"
    },
    {
      "parameters": {
        "channel": "webinars-premium",
        "text": "🎟️ Webinar pagado: {{$json.name}} → {{$json.url}}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "6964a8a0-9e9c-4630-8d6b-3fb73139487e",
      "name": "💬 Slack Webinar",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        768,
        5312
      ],
      "notes": "Notifica en Slack"
    },
    {
      "parameters": {
        "operation": "send"
      },
      "id": "d77d74e4-0524-4b3e-b7af-49fc52b8d8fa",
      "name": "📨 Mailchimp Send1",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [
        576,
        5312
      ],
      "notes": "Envía promo a lista"
    },
    {
      "parameters": {},
      "id": "202e66ee-00bf-4036-b8b5-fd5471b74412",
      "name": "📅 Calendly Trigger",
      "type": "n8n-nodes-base.calendlyTrigger",
      "typeVersion": 1,
      "position": [
        32,
        5616
      ],
      "webhookId": "20d88cb3-3e58-485c-8cb3-2f4ba4a380da",
      "notes": "Trigger cuando alguien agenda"
    },
    {
      "parameters": {
        "model": "={{$env.OPENAI_MODEL}}",
        "options": {},
        "requestOptions": {}
      },
      "id": "0cb21f7f-dcdb-428f-a52b-52eac2274ac1",
      "name": "📧 OpenAI Email",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        240,
        5616
      ],
      "notes": "Genera email confirmación"
    },
    {
      "parameters": {
        "subject": "Confirmación Coaching - {{$json.name}}",
        "html": "={{$json.choices[0].message.content}}",
        "options": {}
      },
      "id": "9ae2fe5d-bad6-4da7-bafd-2e8d94cbe21f",
      "name": "📤 Email Send",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        432,
        5616
      ],
      "notes": "Envía confirmación"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Coaching_Booked"
      },
      "id": "903dc5a6-24c3-42f7-8cf1-e1feab32196e",
      "name": "📊 Airtable Coaching",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        640,
        5616
      ],
      "notes": "Registra booking"
    },
    {
      "parameters": {},
      "id": "a3d1301c-40fa-43b7-b674-97e8d0883b3a",
      "name": "🌅 Daily 8 AM",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -64,
        5824
      ]
    },
    {
      "parameters": {
        "url": "https://api.fiverr.com/v2/gigs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "18bbf171-1f69-4851-ae6d-bfaf3fdabdfb",
      "name": "💼 Fiverr Gig",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        144,
        5824
      ],
      "notes": "Crea gig en Fiverr"
    },
    {
      "parameters": {},
      "id": "a36e3dca-dddd-45b9-bba9-625174924583",
      "name": "📌 Pinterest Gig",
      "type": "n8n-nodes-base.pinterest",
      "typeVersion": 1,
      "position": [
        336,
        5824
      ],
      "credentials": {},
      "notes": "Pinea tu gig"
    },
    {
      "parameters": {
        "jsCode": "const promo = `🤖 Gig activo: ${$json.title}\\n\\n💰 $${$json.price}\\n🔗 ${$json.gig_url}\\n\\n#fiverr #ai #automation`;\nreturn [{ json: { promo, ...$json } }];"
      },
      "id": "9c0d1b4f-156b-4372-b945-d8faf2e87004",
      "name": "🐦 Twitter Fiverr",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        5824
      ]
    },
    {
      "parameters": {
        "text": "={{$json.promo}}",
        "additionalFields": {}
      },
      "id": "6013e0a9-a6a1-42e0-a438-71bb71361d5d",
      "name": "🚀 Twitter Post",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        736,
        5824
      ],
      "notes": "Promociona en Twitter"
    },
    {
      "parameters": {
        "interval": 7200
      },
      "id": "c939a1bc-582f-4c8e-9fb9-0c025dedc07b",
      "name": "⏰ Cada 2 Horas",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        -160,
        6080
      ]
    },
    {
      "parameters": {
        "url": "https://www.upwork.com/api/profiles/v2/search/jobs.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "oauth1",
        "options": {}
      },
      "id": "9be094ef-92e5-44ea-816f-c7b5b1deb802",
      "name": "💼 Upwork API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        48,
        6080
      ],
      "notes": "Busca trabajos de AI"
    },
    {
      "parameters": {
        "jsCode": "const proposal = `Soy experto en AI automation. Puedo resolver ${$json.snippet} con n8n y Python. Portfolio: techinnovationany.carrd.co`;\nreturn [{ json: { proposal, job_id: $json.id } }];"
      },
      "id": "8d44c957-37f8-4ada-a03d-383a7f5400ef",
      "name": "🤖 Proposal Gen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        6080
      ],
      "notes": "Genera propuesta con AI"
    },
    {
      "parameters": {
        "url": "https://www.upwork.com/api/profiles/v2/jobs/{{$json.job_id}}/proposals.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "oauth1",
        "options": {}
      },
      "id": "f6ac9f06-43a8-45b5-a4c0-598527f60c6a",
      "name": "📨 Enviar Proposal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        448,
        6080
      ],
      "notes": "Envía propuesta automática"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Propuestas_Upwork"
      },
      "id": "084ef24d-716a-43a7-9eed-bfbc0cc1c298",
      "name": "📊 Airtable Upwork",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        640,
        6080
      ],
      "notes": "Registra envíos"
    },
    {
      "parameters": {
        "interval": 86400
      },
      "id": "fb3fd312-5ac6-4aa7-a455-3918a5322c43",
      "name": "⏰ Diario",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        -272,
        6384
      ]
    },
    {
      "parameters": {
        "url": "https://api.opensea.io/api/v2/chain/ethereum/contract",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "2fa62e6a-f64a-434c-ad8c-aee335118ac9",
      "name": "🎨 OpenSea API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -80,
        6384
      ],
      "notes": "Menta NFT en OpenSea"
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_NFT_CHANNEL}}",
        "text": "🎨 New NFT: {{$json.name}} → {{$json.opensea_url}}",
        "additionalFields": {}
      },
      "id": "05580336-6b64-4dd8-83e0-bde4fe4ecab4",
      "name": "📱 Telegram NFT",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        128,
        6384
      ],
      "webhookId": "986d5df3-8494-4d17-ab3a-840a560bcfa2",
      "notes": "Notifica NFT mint"
    },
    {
      "parameters": {},
      "id": "4f4a6e63-e6cf-4740-88e1-81c4fc7de525",
      "name": "🚀 Reddit NFT",
      "type": "n8n-nodes-base.forumPost",
      "typeVersion": 1,
      "position": [
        336,
        6384
      ],
      "notes": "Postea en r/NFT"
    },
    {
      "parameters": {},
      "id": "0d4afbfe-3db9-413f-b34b-ed45eb5f4a9c",
      "name": "🌅 Daily 6 AM",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -80,
        6624
      ]
    },
    {
      "parameters": {
        "url": "https://api.godaddy.com/v1/domains/available",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "ffc1e60d-bb3a-41ee-88da-3521bd60a189",
      "name": "🏷️ GoDaddy API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        128,
        6624
      ],
      "notes": "Busca dominios disponibles"
    },
    {
      "parameters": {
        "jsCode": "const dominio = $json.available ? $json.domain : null;\nreturn dominio ? [{ json: { dominio, precio: $json.price } }] : [];"
      },
      "id": "6e381312-8339-47a3-9d34-472ea6ca2729",
      "name": "🔍 Filter Available",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        6624
      ],
      "notes": "Filtra solo disponibles"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Dominios_Flip"
      },
      "id": "4b6a9bb4-12db-4d80-88a2-39e47733d850",
      "name": "📊 Airtable Domains",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        528,
        6624
      ],
      "notes": "Registra para flip"
    },
    {
      "parameters": {},
      "id": "0878151a-3333-478c-9836-167c5b37c1e2",
      "name": "🚀 Reddit Domain",
      "type": "n8n-nodes-base.forumPost",
      "typeVersion": 1,
      "position": [
        720,
        6624
      ],
      "notes": "Lista en Reddit"
    },
    {
      "parameters": {
        "url": "https://openapi.etsy.com/v3/application/listings",
        "authentication": "genericCredentialType",
        "genericAuthType": "oauth2",
        "options": {}
      },
      "id": "90eb9e1f-160c-4fb1-a999-a32cabd61e0b",
      "name": "🎨 Etsy Listing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        48,
        6912
      ],
      "notes": "Crea listing en Etsy"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Etsy_Listings"
      },
      "id": "3c8f7bb4-9631-4c72-9021-ee2a3023f765",
      "name": "📊 Airtable Etsy",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        240,
        6912
      ],
      "notes": "Registra listings"
    },
    {
      "parameters": {},
      "id": "e04b1a1b-ff72-4c42-adab-ceff9563486b",
      "name": "📌 Pinterest Etsy",
      "type": "n8n-nodes-base.pinterest",
      "typeVersion": 1,
      "position": [
        448,
        6912
      ],
      "credentials": {},
      "notes": "Pinea productos Etsy"
    },
    {
      "parameters": {
        "interval": 21600
      },
      "id": "6a750dc6-6d6f-4b71-b711-05eceb2f4070",
      "name": "⏰ Cada 6 Horas1",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        -160,
        6912
      ]
    },
    {
      "parameters": {},
      "id": "c6d5adcd-d563-4930-b2c7-65a09cc1ee2f",
      "name": "🕒 Cada 3 Horas",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -304,
        7200
      ]
    },
    {
      "parameters": {
        "url": "https://api.shopify.com/admin/api/2024-01/products.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "4fee3b03-660c-43f9-8d8e-b0c778c86e92",
      "name": "🛒 Shopify Product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -112,
        7200
      ],
      "notes": "Crea producto dropshipping"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Products_Shopify"
      },
      "id": "2dc31f85-920d-4656-95c5-ffcc6bb06498",
      "name": "📊 Airtable Products",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        96,
        7200
      ],
      "notes": "Registra productos"
    },
    {
      "parameters": {},
      "id": "154167a8-6227-4490-b4e6-4fbf6b66f6f1",
      "name": "🚀 Reddit Dropship",
      "type": "n8n-nodes-base.forumPost",
      "typeVersion": 1,
      "position": [
        304,
        7200
      ],
      "notes": "Promociona en Reddit"
    },
    {
      "parameters": {
        "url": "https://api.teespring.com/v3/designs",
        "authentication": "genericCredentialType",
        "genericAuthType": "oauth2",
        "options": {}
      },
      "id": "cd0c2854-bfcc-4208-8132-5f932a9cf096",
      "name": "👔 Teespring API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        16,
        7392
      ],
      "notes": "Crea diseño en Teespring"
    },
    {
      "parameters": {},
      "id": "54e0a445-5d42-48e1-b19c-f2053a615d6b",
      "name": "📌 Pinterest Tee",
      "type": "n8n-nodes-base.pinterest",
      "typeVersion": 1,
      "position": [
        208,
        7392
      ],
      "credentials": {},
      "notes": "Pinea diseño"
    },
    {
      "parameters": {
        "jsCode": "const tweet = `🔥 NEW: ${$json.title}\\n\\n💰 $${$json.price}\\n🔗 ${$json.url}\\n\\n#tshirt #design`;\nreturn [{ json: { tweet, ...$json } }];"
      },
      "id": "fd4ae154-018c-4648-a67b-fda421f33844",
      "name": "🐦 Twitter Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        7392
      ]
    },
    {
      "parameters": {
        "interval": 43200
      },
      "id": "7a8d4fd4-fb95-4cf9-b231-c9bf7a1848ed",
      "name": "⏰ Cada 12 Horas1",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        -192,
        7392
      ]
    },
    {
      "parameters": {
        "text": "={{$json.tweet}}",
        "additionalFields": {}
      },
      "id": "ce05b3db-51c8-4f27-9c27-268394227eff",
      "name": "🚀 Twitter Post1",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        608,
        7392
      ],
      "notes": "Twittea el diseño"
    },
    {
      "parameters": {},
      "id": "50d77c94-9986-4e72-bb1c-318988ba67df",
      "name": "🌅 Daily 4 AM",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -368,
        7664
      ]
    },
    {
      "parameters": {
        "url": "https://api.printful.com/store/products",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "2634331f-79d1-43a1-b49d-4b2e44c52339",
      "name": "👕 Printful API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -176,
        7664
      ],
      "notes": "Crea producto POD"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Merch_Creado"
      },
      "id": "6cf8aa7e-998f-442f-a235-1d1920904895",
      "name": "📊 Airtable Merch",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        32,
        7664
      ],
      "notes": "Registra merch"
    },
    {
      "parameters": {},
      "id": "0659621c-40fb-44f9-b105-ab7c7da6ee29",
      "name": "🚀 Reddit Merch",
      "type": "n8n-nodes-base.forumPost",
      "typeVersion": 1,
      "position": [
        240,
        7664
      ],
      "notes": "Lanza en r/streetwear"
    },
    {
      "parameters": {
        "interval": 10800
      },
      "id": "12bf3868-676a-4465-8341-7624815fafda",
      "name": "🎨 Cada 3 Horas",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        -272,
        8016
      ]
    },
    {
      "parameters": {
        "url": "https://api.stability.ai/v2beta/stable-image/generate/sd3",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "c2e1e923-b036-4e54-a322-8d27ee1e30d1",
      "name": "🎆 Stability AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -80,
        8016
      ],
      "notes": "Genera imagen AI"
    },
    {
      "parameters": {},
      "id": "30bd2608-6eae-4da2-a103-21594b4a7999",
      "name": "🚀 Reddit AI Art",
      "type": "n8n-nodes-base.forumPost",
      "typeVersion": 1,
      "position": [
        336,
        8016
      ],
      "notes": "Lanza en r/aiArt"
    },
    {
      "parameters": {
        "operation": "upload",
        "additionalFields": {}
      },
      "id": "6aa4237a-a062-4547-aea3-64e4f3852413",
      "name": "☁️ S3 Upload1",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        128,
        8016
      ],
      "notes": "Sube a S3/Cloud"
    },
    {
      "parameters": {},
      "id": "11dc07bb-ccb0-49d2-8b3b-e4c65266901c",
      "name": "📸 Cada 8 Horas",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -448,
        8272
      ]
    },
    {
      "parameters": {
        "url": "https://api.shutterstock.com/v2/images/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "1cd1de9a-31a7-449b-9061-639717a47790",
      "name": "🖼️ Shutterstock API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -256,
        8272
      ],
      "notes": "Busca fotos de stock"
    },
    {
      "parameters": {},
      "id": "86235c63-7582-42c7-a271-8b752e0e69ed",
      "name": "📌 Pinterest Stock",
      "type": "n8n-nodes-base.pinterest",
      "typeVersion": 1,
      "position": [
        -48,
        8272
      ],
      "credentials": {},
      "notes": "Pinea fotos"
    },
    {
      "parameters": {},
      "id": "3426a8fa-30e7-492c-ba93-d065b2e42615",
      "name": "🚀 Reddit Stock",
      "type": "n8n-nodes-base.forumPost",
      "typeVersion": 1,
      "position": [
        160,
        8272
      ],
      "notes": "Comparte en Reddit"
    },
    {
      "parameters": {
        "url": "https://api.replit.com/v0/repls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "2c0a4f97-9e90-4085-8b24-9097689ca5d5",
      "name": "🤖 Replit Bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -240,
        8560
      ],
      "notes": "Despliega bot en Replit"
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHANNEL}}",
        "text": "🤖 Bot activo: {{$json.url}}",
        "additionalFields": {}
      },
      "id": "3dc8a236-b7da-4928-a014-32dae57b9d38",
      "name": "📱 Telegram Notify",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -32,
        8560
      ],
      "webhookId": "3ee4741c-38d0-4650-ab78-1f71305808b1",
      "notes": "Notifica en Telegram"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "7b70a10e-0092-4d3a-b39e-1bfadcdc1019",
      "name": "⏰ Cada Hora1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        8560
      ]
    },
    {
      "parameters": {},
      "id": "d7cd6ca2-7d02-4482-8148-1aa31e985fa3",
      "name": "🌅 Daily 3 AM",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -656,
        8800
      ]
    },
    {
      "parameters": {
        "url": "https://bubble.io/api/v1/app",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "1bdd920e-5a60-42d6-b5f7-b88be3b02686",
      "name": "🫧 Bubble App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -464,
        8800
      ],
      "notes": "Crea app en Bubble"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Apps_Creadas"
      },
      "id": "1a674a61-ce4e-4674-a2ad-5f90e4d24d9c",
      "name": "📊 Airtable Apps",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        -256,
        8800
      ],
      "notes": "Registra app en Airtable"
    },
    {
      "parameters": {},
      "id": "fee6c3cd-383d-4c24-9d2f-d0aa7a8fad28",
      "name": "🚀 Reddit Launch",
      "type": "n8n-nodes-base.forumPost",
      "typeVersion": 1,
      "position": [
        -64,
        8800
      ],
      "notes": "Lanza en Reddit r/startups"
    },
    {
      "parameters": {
        "jsCode": "const scripts = [\n  '5 Hábitos Millonarios Que NADIE Te Cuenta',\n  'Cómo Ganar $1000 en 7 Días (Método Ilegal)',\n  'Neuromarketing: Controla Mentes con Palabras'\n];\nreturn [{ json: { script: scripts[Math.floor(Math.random()*3)] } }];"
      },
      "id": "cb34de03-4f86-4a38-9d7c-6c1fb242134a",
      "name": "📝 Script Selector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        9136
      ]
    },
    {
      "parameters": {
        "operation": "short"
      },
      "id": "4148af68-ecfe-42b7-95fd-62f88326ea16",
      "name": "📹 YouTube Upload",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -432,
        9136
      ],
      "notes": "Sube Short automatizado"
    },
    {
      "parameters": {},
      "id": "6a77d54a-aa87-4fb2-9ec7-5e467839c1bf",
      "name": "🎭 4chan YT",
      "type": "n8n-nodes-base.forumPost",
      "typeVersion": 1,
      "position": [
        -240,
        9136
      ],
      "notes": "Promociona en foros"
    },
    {
      "parameters": {
        "interval": 14400
      },
      "id": "901935f7-8a25-45cc-b60f-5eeca452f5b6",
      "name": "⏰ Cada 4 Horas2",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        -832,
        9136
      ]
    },
    {
      "parameters": {},
      "id": "64cf3886-0094-4e47-99da-d491b71e873b",
      "name": "🕐 Cada 6 Horas",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -800,
        9376
      ]
    },
    {
      "parameters": {
        "model": "={{$env.OPENAI_MODEL || 'gpt-3.5-turbo'}}",
        "options": {},
        "requestOptions": {}
      },
      "id": "19a46270-25cc-41c7-b793-620e7d29d70c",
      "name": "🤖 OpenAI Blog",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -608,
        9376
      ],
      "notes": "Genera contenido SEO"
    },
    {
      "parameters": {
        "url": "={{$env.WORDPRESS_API}}/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "41f8761a-6519-44a6-92b3-34672fdcd8a5",
      "name": "📄 WP Auto Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -400,
        9376
      ],
      "notes": "Publica en WordPress"
    },
    {
      "parameters": {},
      "id": "db22790a-bfa8-4a47-8b7c-49368667cd42",
      "name": "📌 Pinterest Blog",
      "type": "n8n-nodes-base.pinterest",
      "typeVersion": 1,
      "position": [
        -208,
        9376
      ],
      "credentials": {},
      "notes": "Pinea cada post"
    },
    {
      "parameters": {
        "url": "https://api-sec-vlc.hotmart.com/club/api/v1/affiliations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "172f0c80-10f2-4848-96ae-d9ad28743df6",
      "name": "🔥 Hotmart API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -768,
        9536
      ],
      "notes": "Obtiene productos para afiliar"
    },
    {
      "parameters": {},
      "id": "67b6403d-1882-4405-ba37-5db739e41e88",
      "name": "🔗 Shorten URL",
      "type": "n8n-nodes-base.urlShortener",
      "typeVersion": 1,
      "position": [
        -560,
        9536
      ],
      "credentials": {},
      "notes": "Acorta URL con tu ref"
    },
    {
      "parameters": {},
      "id": "5b2afa7d-ced6-45a7-a4ba-c40e43609faf",
      "name": "📌 Pinterest Hotmart",
      "type": "n8n-nodes-base.pinterest",
      "typeVersion": 1,
      "position": [
        -368,
        9536
      ],
      "credentials": {},
      "notes": "Pinea productos"
    },
    {
      "parameters": {},
      "id": "c724a173-7dab-4e7e-a33e-451ee48cfe7e",
      "name": "🎭 4chan Post",
      "type": "n8n-nodes-base.forumPost",
      "typeVersion": 1,
      "position": [
        -160,
        9536
      ],
      "notes": "Postea en foros (cuidado con spam)"
    },
    {
      "parameters": {
        "interval": 7200
      },
      "id": "ff50b6c7-726e-4b1b-94e7-6d3566ae4d79",
      "name": "⏰ Cada 2 Horas1",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        -960,
        9536
      ]
    },
    {
      "parameters": {
        "url": "https://api.rainforestapi.com/request",
        "options": {}
      },
      "id": "02e60d1a-0212-465e-ac5f-00a5adb5c956",
      "name": "🌴 Rainforest API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -912,
        9872
      ],
      "notes": "Busca productos en Amazon"
    },
    {
      "parameters": {
        "url": "https://api.medium.com/v1/users/{{$env.MEDIUM_USER_ID}}/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "70a0b93a-e680-43d8-9aee-b04880a7fa8f",
      "name": "📝 Medium Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -704,
        9872
      ],
      "notes": "Publica review en Medium con tu tag"
    },
    {
      "parameters": {
        "channel": "amazon-deals",
        "text": "🔥 Nuevo deal: {{$json.search_results[0].title}} {{$json.search_results[0].price}}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "733420b5-6e51-46f0-a792-74eb6638d11a",
      "name": "💬 Slack Deal",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        -512,
        9872
      ],
      "notes": "Envía alerta de deal"
    },
    {
      "parameters": {},
      "id": "87f22ee9-585f-466f-bfff-062bd950690d",
      "name": "⏰ Cada Hora2",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1104,
        9872
      ]
    },
    {
      "parameters": {
        "interval": 604800
      },
      "id": "149fdf8f-54c0-4e1e-ac51-ea3bb223d9a1",
      "name": "📅 Semanal",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        -1088,
        10144
      ],
      "notes": "Cada 7 días"
    },
    {
      "parameters": {
        "topic": "={{$json.tema || 'Webinar Hipnótico'}}",
        "additionalFields": {}
      },
      "id": "3855634a-4855-493f-a158-69860d3e2c0a",
      "name": "🎥 Zoom Webinar",
      "type": "n8n-nodes-base.zoom",
      "typeVersion": 1,
      "position": [
        -896,
        10144
      ],
      "notes": "Crea webinar en Zoom"
    },
    {
      "parameters": {},
      "id": "ef55841e-67c8-4f7a-a21b-b4e3638cc8dc",
      "name": "🎟️ Eventbrite Event",
      "type": "n8n-nodes-base.eventbrite",
      "typeVersion": 1,
      "position": [
        -688,
        10144
      ],
      "credentials": {},
      "notes": "Publica en Eventbrite"
    },
    {
      "parameters": {},
      "id": "aa0f7541-9891-49bd-811c-cf020963a1bf",
      "name": "📌 Pinterest Webinar",
      "type": "n8n-nodes-base.pinterest",
      "typeVersion": 1,
      "position": [
        -496,
        10144
      ],
      "credentials": {},
      "notes": "Promociona en Pinterest"
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "b0b10b9e-8f88-42e1-94dc-ef9b9fe43ba3",
      "name": "🐙 GitHub Push",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        10480
      ],
      "webhookId": "c9f43886-320a-428e-9a12-3136be7f4648",
      "notes": "Trigger cuando subas nuevo módulo a GitHub"
    },
    {
      "parameters": {},
      "id": "1b43941d-fb09-4c34-8161-d9b8f5680335",
      "name": "🎓 Teachable Course",
      "type": "n8n-nodes-base.teachable",
      "typeVersion": 1,
      "position": [
        -768,
        10480
      ],
      "credentials": {},
      "notes": "Crea curso en Teachable"
    },
    {
      "parameters": {
        "operation": "send"
      },
      "id": "79968997-56a3-41cc-8e2a-353e4700c06f",
      "name": "📧 Mailchimp Campaign",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [
        -560,
        10480
      ],
      "notes": "Envía email a lista de estudiantes"
    },
    {
      "parameters": {
        "channel": "cursos-notificaciones",
        "text": "🔥 Nuevo curso publicado: {{$json.courseName}}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "6a3e6349-dcdc-401f-bc6a-d2da33064844",
      "name": "💬 Slack Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        -368,
        10480
      ],
      "notes": "Notifica en Slack"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "05fcc344-29da-4b88-8698-3058548f9779",
      "name": "⏰ Daily 2 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -944,
        10752
      ],
      "notes": "Ejecuta cada día a las 2 AM"
    },
    {
      "parameters": {
        "operation": "list",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Templates_Ideas",
        "additionalOptions": {}
      },
      "id": "02d2c9d6-7f34-441e-8807-3a9cbd9c7d8b",
      "name": "💡 Airtable Ideas",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        -752,
        10752
      ],
      "notes": "Lee ideas de templates desde Airtable"
    },
    {
      "parameters": {
        "url": "https://api.canva.com/v1/designs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "afd868c8-0b42-4dfa-88df-45d503cf92ef",
      "name": "🎨 Canva API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -544,
        10752
      ],
      "notes": "Genera template en Canva"
    },
    {
      "parameters": {},
      "id": "ba296137-371b-4988-b2bc-f5672fdb813a",
      "name": "💰 Gumroad Template",
      "type": "n8n-nodes-base.gumroad",
      "typeVersion": 1,
      "position": [
        -352,
        10752
      ],
      "credentials": {},
      "notes": "Publica template en Gumroad"
    },
    {
      "parameters": {},
      "id": "452b67de-fe75-43b7-987b-72e958d5cb64",
      "name": "📌 Pinterest Pin",
      "type": "n8n-nodes-base.pinterest",
      "typeVersion": 1,
      "position": [
        -144,
        10752
      ],
      "credentials": {},
      "notes": "Pinea automáticamente en Pinterest"
    },
    {
      "parameters": {
        "jsCode": "const email = `Nuevo Template: ${$json.Nombre}\\n\\nLink: ${$json.Gumroad_URL}\\n\\nPublicado en: ${new Date().toLocaleString()}`;\nreturn [{ json: { email_body: email, ...$json } }];"
      },
      "id": "053551fb-d0b4-4890-99a1-6253d2780b3b",
      "name": "📧 Email Notify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        10752
      ],
      "notes": "Prepara notificación por email"
    },
    {
      "parameters": {
        "subject": "={{$json.Nombre}} - Template Publicado",
        "html": "={{$json.email_body}}",
        "options": {}
      },
      "id": "e834eb2b-66b5-46cc-a0b4-2769f784e1ca",
      "name": "📤 Enviar Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        256,
        10752
      ],
      "notes": "Envía notificación final"
    },
    {
      "parameters": {},
      "id": "3d4732c8-58a9-4c9e-ba5d-b66f7e2516fb",
      "name": "Cada 1 Hora",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1024,
        10992
      ],
      "notes": "Trigger cada hora para generar y publicar e-book"
    },
    {
      "parameters": {
        "jsCode": "const temas = [\n  '7 Rituals Psicológicos para Dominar tu Dinero',\n  'La Fórmula del Enganche Emocional en Ventas',\n  'Neuromarketing para Creators: Guía Extrema'\n];\nreturn [{ json: { tema: temas[Math.floor(Math.random()*3)] } }];"
      },
      "id": "b733a7fe-dc03-4cc4-91b6-76dbc3436e48",
      "name": "⚡ Seleccionar Tema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        10992
      ],
      "notes": "Array de temas predefinidos"
    },
    {
      "parameters": {
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "2aea0ba4-e122-4284-a7f6-3c7d0e8688b4",
      "name": "🧠 Mistral AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -624,
        10992
      ],
      "notes": "Genera contenido del e-book"
    },
    {
      "parameters": {},
      "id": "9689b8dc-c9b4-47c9-9942-1f45a67a515a",
      "name": "💰 Gumroad Product",
      "type": "n8n-nodes-base.gumroad",
      "typeVersion": 1,
      "position": [
        -432,
        10992
      ],
      "credentials": {},
      "notes": "Crea producto en Gumroad"
    },
    {
      "parameters": {
        "url": "=https://public-api.wordpress.com/wp/v2/sites/{{$env.WORDPRESS_SITE}}/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "ccccd414-19aa-4dc1-bc5f-e52a5108a393",
      "name": "📖 WordPress Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -224,
        10992
      ],
      "notes": "Publica post en WordPress"
    },
    {
      "parameters": {
        "jsCode": "const script = `ESTO CAMBIÓ MI VIDA en 7 días\\n\\n${$json.tema}\\n\\n3 puntos clave:\\n1. Framework único\\n2. Resultados medibles\\n3. Acción inmediata\\n\\nLink en bio 👇`;\nreturn [{ json: { script, ...$json } }];"
      },
      "id": "6f61be85-31e8-4334-b280-ab985ec0b649",
      "name": "🎬 Script YouTube Short",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        10992
      ],
      "notes": "Genera script para Short"
    },
    {
      "parameters": {
        "operation": "short"
      },
      "id": "a1977fa7-c818-4795-851b-d3309c3ed106",
      "name": "📹 YouTube Short",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        176,
        10992
      ],
      "notes": "Sube Short a YouTube"
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Ebooks_Generados"
      },
      "id": "a99bf153-163d-43ab-af92-ff2185d8276d",
      "name": "📊 Airtable Log1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        384,
        10992
      ],
      "notes": "Registra todo en Airtable"
    }
  ],
  "pinData": {},
  "connections": {
    "📅 Daily Report": {
      "main": [
        [
          {
            "node": "📊 Airtable Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Airtable Summary": {
      "main": [
        [
          {
            "node": "🧮 Calc Master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Calc Master": {
      "main": [
        [
          {
            "node": "📧 Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Email Report": {
      "main": [
        [
          {
            "node": "💬 Slack Master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛡️ Safe Setup Webhook": {
      "main": [
        [
          {
            "node": "🔐 Decrypt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Decrypt": {
      "main": [
        [
          {
            "node": "📊 Airtable Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Cada 4 Horas": {
      "main": [
        [
          {
            "node": "🎲 Platform Selector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎲 Platform Selector": {
      "main": [
        [
          {
            "node": "🧠 GPT Social",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 GPT Social": {
      "main": [
        [
          {
            "node": "📱 Social Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 Social Post": {
      "main": [
        [
          {
            "node": "📊 Airtable Social",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Cada 12 Horas": {
      "main": [
        [
          {
            "node": "📋 Airtable Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Airtable Clients": {
      "main": [
        [
          {
            "node": "🚀 Glide Build",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Glide Build": {
      "main": [
        [
          {
            "node": "📊 Airtable Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Airtable Dashboard": {
      "main": [
        [
          {
            "node": "📧 Email Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Cada 8 Horas": {
      "main": [
        [
          {
            "node": "💻 Snippet Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💻 Snippet Generator": {
      "main": [
        [
          {
            "node": "🧠 GPT Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 GPT Code": {
      "main": [
        [
          {
            "node": "🐙 GitHub Gist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Cada 6 Horas": {
      "main": [
        [
          {
            "node": "📝 Script Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Script Generator": {
      "main": [
        [
          {
            "node": "🎙️ ElevenLabs TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎙️ ElevenLabs TTS": {
      "main": [
        [
          {
            "node": "☁️ S3 Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗓️ Weekly Planner": {
      "main": [
        [
          {
            "node": "🧠 GPT Outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 GPT Outline": {
      "main": [
        [
          {
            "node": "🎨 Canva Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 Canva Planner": {
      "main": [
        [
          {
            "node": "🎨 Etsy Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 Etsy Upload": {
      "main": [
        [
          {
            "node": "📊 Airtable Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌅 Daily API Gen": {
      "main": [
        [
          {
            "node": "🎲 API Selector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎲 API Selector": {
      "main": [
        [
          {
            "node": "🚀 Replit Deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Replit Deploy": {
      "main": [
        [
          {
            "node": "🌐 RapidAPI Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 RapidAPI Publish": {
      "main": [
        [
          {
            "node": "📊 Airtable API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Webhook Scrape": {
      "main": [
        [
          {
            "node": "🔍 ScraperAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 ScraperAPI": {
      "main": [
        [
          {
            "node": "📊 Airtable Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Airtable Scrape": {
      "main": [
        [
          {
            "node": "📧 Email Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏭 Industry Generator": {
      "main": [
        [
          {
            "node": "🧠 Claude Landing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Claude Landing": {
      "main": [
        [
          {
            "node": "🚀 Carrd Deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Carrd Deploy": {
      "main": [
        [
          {
            "node": "📊 Airtable Consulting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Cada 4 Horas1": {
      "main": [
        [
          {
            "node": "🏭 Industry Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Daily Newsletter": {
      "main": [
        [
          {
            "node": "🧠 GPT Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 GPT Newsletter": {
      "main": [
        [
          {
            "node": "📨 Mailchimp Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📨 Mailchimp Send": {
      "main": [
        [
          {
            "node": "💰 Paved Sponsors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💰 Paved Sponsors": {
      "main": [
        [
          {
            "node": "📊 Airtable Sponsor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Daily Lead Gen": {
      "main": [
        [
          {
            "node": "🚀 Apollo Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Apollo Leads": {
      "main": [
        [
          {
            "node": "🧠 GPT-4 Proposal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 GPT-4 Proposal": {
      "main": [
        [
          {
            "node": "📊 Airtable Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Airtable Client": {
      "main": [
        [
          {
            "node": "📧 Email Proposal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌅 Daily Report": {
      "main": [
        [
          {
            "node": "📊 Airtable Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Calc Total": {
      "main": [
        [
          {
            "node": "📧 Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Daily Report": {
      "main": [
        [
          {
            "node": "💬 Slack Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Airtable Summary1": {
      "main": [
        [
          {
            "node": "🧮 Calc Total",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌇 Daily 6 PM": {
      "main": [
        [
          {
            "node": "₿ Coinbase API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "₿ Coinbase API": {
      "main": [
        [
          {
            "node": "🤖 Allocation Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Allocation Logic": {
      "main": [
        [
          {
            "node": "📊 Airtable Fund",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Airtable Fund": {
      "main": [
        [
          {
            "node": "📧 Email Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Cada Hora": {
      "main": [
        [
          {
            "node": "📈 Robinhood API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📈 Robinhood API": {
      "main": [
        [
          {
            "node": "🤖 Trade Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Trade Logic": {
      "main": [
        [
          {
            "node": "📊 Airtable Trading",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Airtable Trading": {
      "main": [
        [
          {
            "node": "💬 Slack Signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Lunes 9 AM": {
      "main": [
        [
          {
            "node": "🫧 Bubble Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🫧 Bubble Client": {
      "main": [
        [
          {
            "node": "📊 Airtable Client1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Airtable Client1": {
      "main": [
        [
          {
            "node": "📧 Email Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 OpenAI Pitch": {
      "main": [
        [
          {
            "node": "📄 Contently API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Contently API": {
      "main": [
        [
          {
            "node": "📊 Airtable Pitch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Airtable Pitch": {
      "main": [
        [
          {
            "node": "📧 Email Pitch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Cada 8 Horas1": {
      "main": [
        [
          {
            "node": "🤖 OpenAI Pitch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🕐 Cada 12 Horas": {
      "main": [
        [
          {
            "node": "🔍 SEMrush API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 SEMrush API": {
      "main": [
        [
          {
            "node": "📊 Airtable SEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 OpenAI Promo": {
      "main": [
        [
          {
            "node": "📨 Mailchimp Send1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📨 Mailchimp Send1": {
      "main": [
        [
          {
            "node": "💬 Slack Webinar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Calendly Trigger": {
      "main": [
        [
          {
            "node": "📧 OpenAI Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 OpenAI Email": {
      "main": [
        [
          {
            "node": "📤 Email Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Email Send": {
      "main": [
        [
          {
            "node": "📊 Airtable Coaching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌅 Daily 8 AM": {
      "main": [
        [
          {
            "node": "💼 Fiverr Gig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐦 Twitter Fiverr": {
      "main": [
        [
          {
            "node": "🚀 Twitter Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Cada 2 Horas": {
      "main": [
        [
          {
            "node": "💼 Upwork API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💼 Upwork API": {
      "main": [
        [
          {
            "node": "🤖 Proposal Gen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Proposal Gen": {
      "main": [
        [
          {
            "node": "📨 Enviar Proposal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📨 Enviar Proposal": {
      "main": [
        [
          {
            "node": "📊 Airtable Upwork",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Diario": {
      "main": [
        [
          {
            "node": "🎨 OpenSea API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 OpenSea API": {
      "main": [
        [
          {
            "node": "📱 Telegram NFT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌅 Daily 6 AM": {
      "main": [
        [
          {
            "node": "🏷️ GoDaddy API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏷️ GoDaddy API": {
      "main": [
        [
          {
            "node": "🔍 Filter Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Filter Available": {
      "main": [
        [
          {
            "node": "📊 Airtable Domains",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 Etsy Listing": {
      "main": [
        [
          {
            "node": "📊 Airtable Etsy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Cada 6 Horas1": {
      "main": [
        [
          {
            "node": "🎨 Etsy Listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🕒 Cada 3 Horas": {
      "main": [
        [
          {
            "node": "🛒 Shopify Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛒 Shopify Product": {
      "main": [
        [
          {
            "node": "📊 Airtable Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐦 Twitter Script": {
      "main": [
        [
          {
            "node": "🚀 Twitter Post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Cada 12 Horas1": {
      "main": [
        [
          {
            "node": "👔 Teespring API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌅 Daily 4 AM": {
      "main": [
        [
          {
            "node": "👕 Printful API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👕 Printful API": {
      "main": [
        [
          {
            "node": "📊 Airtable Merch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 Cada 3 Horas": {
      "main": [
        [
          {
            "node": "🎆 Stability AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎆 Stability AI": {
      "main": [
        [
          {
            "node": "☁️ S3 Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📸 Cada 8 Horas": {
      "main": [
        [
          {
            "node": "🖼️ Shutterstock API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Replit Bot": {
      "main": [
        [
          {
            "node": "📱 Telegram Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Cada Hora1": {
      "main": [
        [
          {
            "node": "🤖 Replit Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌅 Daily 3 AM": {
      "main": [
        [
          {
            "node": "🫧 Bubble App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🫧 Bubble App": {
      "main": [
        [
          {
            "node": "📊 Airtable Apps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Script Selector": {
      "main": [
        [
          {
            "node": "📹 YouTube Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Cada 4 Horas2": {
      "main": [
        [
          {
            "node": "📝 Script Selector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🕐 Cada 6 Horas": {
      "main": [
        [
          {
            "node": "🤖 OpenAI Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 OpenAI Blog": {
      "main": [
        [
          {
            "node": "📄 WP Auto Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Cada 2 Horas1": {
      "main": [
        [
          {
            "node": "🔥 Hotmart API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌴 Rainforest API": {
      "main": [
        [
          {
            "node": "📝 Medium Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Medium Post": {
      "main": [
        [
          {
            "node": "💬 Slack Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Cada Hora2": {
      "main": [
        [
          {
            "node": "🌴 Rainforest API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Semanal": {
      "main": [
        [
          {
            "node": "🎥 Zoom Webinar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Mailchimp Campaign": {
      "main": [
        [
          {
            "node": "💬 Slack Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Daily 2 AM": {
      "main": [
        [
          {
            "node": "💡 Airtable Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💡 Airtable Ideas": {
      "main": [
        [
          {
            "node": "🎨 Canva API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Email Notify": {
      "main": [
        [
          {
            "node": "📤 Enviar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cada 1 Hora": {
      "main": [
        [
          {
            "node": "⚡ Seleccionar Tema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚡ Seleccionar Tema": {
      "main": [
        [
          {
            "node": "🧠 Mistral AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📖 WordPress Post": {
      "main": [
        [
          {
            "node": "🎬 Script YouTube Short",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎬 Script YouTube Short": {
      "main": [
        [
          {
            "node": "📹 YouTube Short",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📹 YouTube Short": {
      "main": [
        [
          {
            "node": "📊 Airtable Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dce5db9a-5570-4b04-a7ae-f401cf46f38b",
  "meta": {
    "instanceId": "bb56a79f8a7874354c1dec992df1e52079d11cbb41c44c9dbebb9002f1b2b0a8"
  },
  "id": "QvKuRhoaRHAG4woH",
  "tags": []
}